<h2>About Me</h2>
<div class='col-sm-0 col-lg-0'>
    <div class="about">
    <% provide(:about_active, 'active') %>
    <%= image_tag("pictures/tula.jpg") %><p><b>
        <h4>Tula Ram Subba</h4>
            <b>Web Developer</b>
                <p>I moved to United States of America from Nepal in 2015. I completed my bcahelor's degree in Physics from Tribhuvan University,Nepal. Also I completed certificate software development courses from Techhire Pittsburgh. Since then I am involving in self and community projects. I love to research and create new things to make people's life easier and more informative. I love to travel and explore the different places. 
                Through this blog I promised to create and share new ideas related to technology. If you have any concerns and feedback please send me in my email found in the contact page.</p><br>
                <!-- <j class="fa fa-arrow-down" aria-hidden="true"></j> <%= link_to "Click here to view", asset_path("pdf/TeelaResume.pdf") %> -->
                <br><br>
                <a href="https://www.facebook.com/tularam.subba"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/TulaRamSubba"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/teela-subba-73a37213b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/subbat9710"><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
 </div>
        
    
