<% provide(:page_title, 'Contact') %>
<h2>My Contact</h2>
<div class='col-sm-0 col-lg-0'>
	<div class="cantact">
        <div class="row">
            <% provide(:contact_active, 'active') %>
            <%= image_tag("pictures/email.png") %><br>
            <%= image_tag("pictures/contula.png") %>
             <div>    
                <p>I would love to have your feedback to improve myself and brings back good stuffs to you.</p> 
                <ul>
                    <a href="https://github.com/subbat9710"><k class="fa fa-github" aria-hidden="true"></k> My Github</a><p>
                    <p><k class="fa fa-envelope-o" aria-hidden="true"></k> tula.subba1991@gmail.com</p>
                </ul> 
            </div>
        </div>        
    </div>

<!--Footer-->
    <div class="container-fluid">
        <div class="row">
            <a href="https://www.facebook.com/tularam.subba"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/TulaRamSubba"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/teela-subba-73a37213b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://github.com/subbat9710"><i class="fa fa-github" aria-hidden="true"></i></a>
        <div class="footer-copyright">
            Copyright © 2017 Tula Ram Subba. All rights reserved.
        </div>
        </div>
    </div>
</div>
</footer>
<!--/.Footer-->

