.pages.about {
  .about {
    border: none;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
  } 

  p {
	color: #737373;
	padding: 0 200px 0 200px;
	font-size: 18px;
	line-height: 30px;
  }
  .b {
  	color: 	#24b1ed;
  }
  img {
	height: 190px;
	width: 190px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px #888888;
	border-radius: 50%;
  }
  i {
	height: 40px;
	width: 40px;
	padding: 5px;
	font-size: 29px;
	border-radius: 50%;
	background: #000;
	color: #fff;
  }
    j {
	font-size: 44px;
	color: #000000;
  }
  a:hover i {
	background: #24b1ed;
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
  }
  #myresume {
	text-decoration: none;
	color: #000;
	border: solid 2px;
	padding: 6px;
	border-radius: 5px;
  }
  #myresume:hover {
	background: #0f69ff;
	color: #fff;
  }
  @media(max-width: 768px){
	.aboutme p {
	  padding: 0px 0 10px;
	  font-size: 15px;
	  line-height: 20px;
	}
  }
}

